<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="superbd.restaurant" >

    <!-- Permission for map -->
    <permission
        android:name="superbd.restaurant.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="superbd.restaurant.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Internet permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Network State Permission -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDknAMBGIjRwZtzgS2H_xNBjJrSj6Jh1TI" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".restaurant_chooser"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity
            android:name=".about_viewpager"
            android:label="@string/title_activity_about_viewpager"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity
            android:name=".login"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".signup"
            android:label="@string/title_activity_signup"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Splashscreen"
            android:label="@string/title_activity_splashscreen"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".scrollview"
            android:label="@string/title_activity_scrollview" >
        </activity>
        <activity
            android:name=".choose_city"
            android:label="@string/title_activity_choose_city"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".available_restaurants"
            android:label="@string/title_activity_available_restaurants"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity
            android:name=".keyword_search"
            android:label="@string/title_activity_keyword_search"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity
            android:name=".table_booked"
            android:label="@string/title_activity_table_booked"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity
            android:name=".category_chooser"
            android:label="@string/title_activity_category_chooser"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity
            android:name=".Reservation_list"
            android:label="@string/title_activity_reservation_list" >
        </activity>
        <activity
            android:name=".showMap"
            android:label="@string/title_activity_show_map"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity
            android:name=".book_a_table"
            android:label="@string/title_activity_book_a_table" >
        </activity>
        <activity
            android:name=".superbd_soon"
            android:label="@string/title_activity_superbd_soon" >
        </activity>
    </application>

</manifest>
